In [4]:

##lists
names=["riya","kittu","Prapti",1,2,2]
print(names)

['riya', 'kittu', 'Prapti', 1, 2, 2]

In [5]:
##accessing the elements in lists
names[2:5]

['Prapti', 1, 2]

In [6]:
##modifying the elements
names[2]="Divya-Rawat"
print(names)

['riya', 'kittu', 'Divya-Rawat', 1, 2, 2]

In [5]:
##some cool features or we can say methods  we are having in lists 
## 1.append
names.append("Gayu")
print(names)

['riya', 'kittu', 'Divya-Rawat', 1, 2, 2, 'Gayu']

In [6]:
names.insert(2,"preeti")
print(names)

['riya', 'kittu', 'preeti', 'Divya-Rawat', 1, 2, 2, 'Gayu']

In [9]:
## now lets try some methods
index=names.index("riya")
print(index)
names.insert(3,"preeti")
no_count=names.count("preeti")
print(no_count)

0
2

In [14]:

names.remove(2)
names.remove(2)
print(names)

['Divya-Rawat', 'kittu', 'preeti', 'preeti', 'riya', 'Gayu']

In [15]:
names.sort()
print(names)
reverse=names.reverse()
print(names)

['Divya-Rawat', 'Gayu', 'kittu', 'preeti', 'preeti', 'riya']
['riya', 'preeti', 'preeti', 'kittu', 'Gayu', 'Divya-Rawat']

In [20]:
###Slicing the list elements
arr=[1,2,3,4,67,77]
print(arr[2:5])
print(arr[:3])
print(arr[::-3])

[3, 4, 67]
[1, 2, 3]
[77, 3]

In [ ]:
##traversing the list
for i in arr:
    print(i)

1
2
3
4
67
77
0 1
1 2
2 3
3 4
4 67
5 77

In [24]:
## traversing the list wit the index
for index,i in enumerate(arr):
    print(index,i)

0 1
1 2
2 3
3 4
4 67
5 77

In [34]:
## some cool examples
## squares of numbers 
num=[]
for i in range(11):
    num.append(i*i) 
print(num)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
    ## LIST COMPREHENSION

## now how I can write this in a single line of code 
## PYTHON-->SUPERMACY
num=[i**3 for  i in range(11)]
print(num)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
## SOME MORE EXAMPLES
lst=[]
for i in range(10):
    if(i%2==0):
        lst.append(i)
print(lst)
## same thing with using list comprehension 
lst=[i for i in range(10) if i%2==0 ]
print(lst)
## cool is'nt?

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [40]:
# Nested List comprehension
num1=[1,2,3,4] 
num2=['a','b','c','d']
pair=[[i,j] for i in num1 for j in num2]
print (pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [42]:

## some inbuilt functions
length=[len(i) for i in num2]
print(length)

[1, 1, 1, 1]

Tuple Data Structure

In [43]:
num=()
print(type(num))

<class 'tuple'>

In [ ]:

## declaring and defining the tuple 
lst=list()
print(type(lst))
tup=tuple()
print(type(tup))

<class 'list'>
<class 'tuple'>

In [2]:
## slicing operation in tuple 
tup=tuple([1,2,3,4,5])
tup2=tuple(["riya"])

print(tup)
print(tup[3:])
print(tup+tup2)
print(tup2*4)

(1, 2, 3, 4, 5)
(4, 5)
(1, 2, 3, 4, 5, 'riya')
('riya', 'riya', 'riya', 'riya')

immutable Nature of tuple

In [56]:
### tuples are immutable it means once we assoign the value we cant change it unlike list
tup[0]="riya"
##see the error

TypeError: 'tuple' object does not support item assignment

In [5]:
#### Tuple methods 
print(tup.count(1))

1

Packaging and unpackaging Tuple

In [8]:
## packaging
number=1,"RiyaJha",3.24
print(number)
#unpack
a,b,c=number
print(a)
print(b)
print(c)

(1, 'RiyaJha', 3.24)
1
RiyaJha
3.24

Dictionary Data Structure
Dictionary is basically an unordered collection of items

In [1]:
##HOW TO CREATE A DICTIONARY 
city={}
print(type(city))

<class 'dict'>

In [17]:
## defining the elemement in dictionary 
city={"Delhi":"78","Mumbai":"98"}
print(city)
## the key always be a unique name

{'Delhi': '78', 'Mumbai': '98'}

In [ ]:
##Acessing the dictonary elemnents
print(city["Delhi"])## first way 
print(city.get('Delhi'))## secomnd way using get keyword

78
78

In [9]:
## Modifying the dictionary element
city["Delhi"]=45
print(city)
## adding the new key in the dict
city[("Goa")]=90
print(city)

{'Delhi': 45, 'Munmbai': '98'}
{'Delhi': 45, 'Munmbai': '98', 'Goa': 90}

In [10]:
## DELETE THE ENTIRE KEY VALUE PAIR IN  DICTIONARY 
del city['Goa']
print(city)

{'Delhi': 45, 'Munmbai': '98'}

In [12]:
# DICTIONARY METHODS #
#--- for getting the key 
keys=city.keys()
print(keys)
#--- for getting the values
values=city.values()
print(values)
##---- for getting the key value pairs
items=city.items()
print(items)

dict_keys(['Delhi', 'Munmbai'])
dict_values([45, '98'])
dict_items([('Delhi', 45), ('Munmbai', '98')])

In [ ]:
## now let s lerarn about the shallow copy 
# lets take ome example
city_copy=city
print(city)
print(city_copy) 
## noe let me modify the value in actual city  dict
city["Delhi"]=90
print(city)
print(city_copy)
## exactly thats the problem the copy is also changed its  
# value with respect to the the actually city dict

{'Delhi': 45, 'Munmbai': '98'}
{'Delhi': 45, 'Munmbai': '98'}
{'Delhi': 90, 'Munmbai': '98'}
{'Delhi': 90, 'Munmbai': '98'}

In [18]:
## how to create a actual copy 
city1_copy=city.copy()
## now lets again modify the city value
city["Mumbai"]=23
print(city)
print(city1_copy)

{'Delhi': '78', 'Mumbai': 23}
{'Delhi': '78', 'Mumbai': '98'}

In [22]:
## iterayte usinf for loop in dict
## for keys
print("KEYS")
for key in city.keys():
    print(key)
## for values
print("VALUES")
for value in city.values():
    print(value)
## for items- key value pairs 
for key, value in city.items():
    print(f"{key}:{value}")

KEYS
Delhi
Mumbai
VALUES
78
23
Delhi:78
Mumbai:23

NESTED DICTIONARY

In [24]:
college={
    "students":{"Name":"Riya","Age":19},
    "Teachers":{"Name":"Shalini","Age":29}
}
print(college)

{'students': {'Name': 'Riya', 'Age': 19}, 'Teachers': {'Name': 'Shalini', 'Age': 29}}

In [25]:
## accessing the elements
print(college["students"]["Name"])
print(college["Teachers"]["Name"])

Riya
Shalini

In [28]:
## ITERATING OVER NESTED DICT
for college_id,college_info in college.items():
    print(f"{college_id}:{college_info}")
    for key,value in college_info.items():
        print(f"{key}:{value}")

students:{'Name': 'Riya', 'Age': 19}
Name:Riya
Age:19
Teachers:{'Name': 'Shalini', 'Age': 29}
Name:Shalini
Age:29

In [32]:
## Dictionary comprehension 
squares={z:z**2 for z in range(10)  if z%2!=0}
print(squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [33]:
numbers=[1,1,2,2,4,4,4,4]
freq={}

for number in numbers:
    if number in freq:
       freq[number]+=1
    else:
        freq[number]=1
print(freq)

{1: 2, 2: 2, 4: 4}