Functions

A function is a block of code that performs a specific task . Function  help in organizing code ,reusing code  and improving readablity.

In [ ]:
#### Syntax
def function_name(paramater):
    """ doc string """
    ## function body 
     ## return expression

In [1]:
def even_or_odd (num):
    if num%2==0:
        print("Even Number")
    else:
        print("Odd Number")

In [2]:
even_or_odd(90)

Even Number

In [4]:
def greeting(name):
    print(f"HELLO ! {name}")
greeting("Riya JHA")

HELLO ! Riya JHA

In [6]:
## Positional Arguments
def print_arg(*args):
    for number in args:
     print(number)
print_arg(1,2,4,"Riya")

1
2
4
Riya

In [8]:
##keyword Arguements 
def print_dict_ele(**keyargs):
    for key,value in keyargs.items():
        print(f"{key}:{value}")
## Giving output
print_dict_ele(name="Riya Jha",course="Btech",city="Noida",age=20)

name:Riya Jha
course:Btech
city:Noida
age:20

In [10]:
## Mulitiply Function
def mul(a,b):
    return a*b
a=int(input())
b=int(input())
mul(a,b)

6

Functions Real Life Examples

In [13]:
## Temperature Conversion 

def temperature_conversion(temp,unit):
    if unit=="C":
        return (temp*9/5)+32
    elif unit=="F":
        return (temp-32)+5/9
    else:
        return None
    

print(temperature_conversion(100,"C"))
print(temperature_conversion(100,"F"))

212.0
68.55555555555556

In [16]:
##Pasword Strength Checker 
def is_strong_password(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#%$&()_+^' for char in password):
        return False
    return True
 ### calling Function 
print(is_strong_password("riyajha@2005"))

False

In [21]:
### Total cost of the items present in cart
def total_cost_cart(cart):
    total=0
    for i in cart:
     total+=i['Price']*i['Quantity']
    return total
    
cart=[
   {'Name':'lipstick','Price':100,'Quantity':5},
    {'Name':'Foundation','Price':500,'Quantity':5},
    {'Name':'wipes','Price':100,'Quantity':5}
    
]

print(total_cost_cart(cart))

3500

In [30]:
## Check if a string is a Palindrome or not
def is_palindrome(word):
    word=word.lower() ,word.replace(" ","") 
 
    return word==word[::-1] 
 
is_palindrome("kanak")

True

In [36]:
## Factorial using recusrion 
def factorial(num):
    if num==0 or num==1:
        return 1
    return num*factorial(num-1)

factorial(6)

720

In [55]:
### A function to count the frequency if words in a given file

def word_freq(file_Path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,?!;:"\'')
                word_count[word]=word_count.get(word,0)+1

    return word_count


file_path='sample.txt'
word_frequency=word_freq(file_path)
print(word_frequency)

{'i': 2, 'am': 1, 'riya': 1, 'jha': 1, 'an': 1, 'engineering': 1, 'student': 1, 'enthusiatic': 1, 'about': 1, 'ai': 1, 'and': 1, 'ml': 1, 'also': 1, 'have': 1, 'keenn': 1, 'interest': 1, 'in': 1, 'python': 1}

In [61]:
##  check Validate Emaid-id 
import re
def check_email(id):
     pattern=r'^[a-zA-Z0-9_.+-]+-.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
     return re.match(pattern,id) is not None
## calling the function 
print(check_email("test@example.com"))

False

Lambda Function 
An anonyms function defined using the lambda keyword,they can have only any number of arguments but onlyt one expression.

In [ ]:
## syntax
###  lambda arguments:expression

In [4]:
## example
addition=lambda a,b,c:a+b+c
print(addition(1,2,3))

6

MAP FUNCTION

In [ ]:
##SYNTAX 
 ##map(function,iterable)

In [3]:
## EXAMPLE
numbers=[1,2,3,4,5,6]
squares=lambda num:num**2
list(map(squares,numbers))

[1, 4, 9, 16, 25, 36]

In [7]:
## addition of two list using  map function 
list1=[9,2,3]
list2=[9,2,3]
addition =lambda x,y:x+y
list(map(addition,list1,list2))

[18, 4, 6]

In [ ]:
## using map() to convert list of string into integers
num_list=['1','3','5']
int_list=list(map(int, num_list))
print(int_list)

[1, 3, 5]

In [10]:
### convert list of integers into list of string
str_list=[1,2,3]
integer_list=list(map(str,str_list))
print(integer_list)

['1', '2', '3']

In [12]:
## change lowercasr to upper case 
list_lower=['riya','himanshi','kashish']
to_upper=list(map(str.upper,list_lower))
print(to_upper)

['RIYA', 'HIMANSHI', 'KASHISH']

Filter Function

#### syntax 
filter(function,sequences)
A function that defines the condition the  filter the elements

In [14]:
## examples
even= lambda x:x%2==0
digits=[1,2,3,4,5,6,7,8,9]
list(filter(even,digits))

[2, 4, 6, 8]

In [ ]:
## difference between filter and map function 
def even_no(num):
    if num%2==0:
        return num 
list(map(even_no,digits))

[None, 2, None, 4, None, 6, None, 8, None]

In [20]:
## filter to check if the  age is greater than 25 in dictionary
age_dic={23,24,44,45,67,65}
age_graeter25=lambda x:x>25
list(filter(age_graeter25,age_dic))

[65, 67, 44, 45]