Conditionals Statements

In [17]:
##if statement 
age=int(input("write your age"))
if(age==18):
    print("DE de bhai vote tu ")
elif(age==20):
 print("njk")
else:
  print("Nhi de skta vote tu ")

Nhi de skta vote tu

In [4]:
## one morre example
year=int(input("Enter thr year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
          print(year,"is a leap year")
        else:
           print(year,"is not a leap year")
    else:
        print(year,"is  a leap year")
else:
    print(year,"is not a leap year")

2025 is not a leap year

Nested conditionals statements

In [15]:
number=int(input("Enter your Number"))
if(number>0 and number%2==0):
    print("ur number is even")
elif(number<0):
    print(" ur number is negative ")
else:
    print("ur numer is odd")

 ur number is negative

Loops in pyhton

In [1]:
## for loop 
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [5]:
#strings
str="Riya Jha"
for i in str:
    print(i)

R
i
y
a

J
h
a

In [8]:
##while loop
count=0
while(count<=5):
    print(count)
    count=count+2

0
2
4

Loop control statements

In [9]:
## break
for i in range(10):
    if i==9:
        break
    print(i)

0
1
2
3
4
5
6
7
8

In [10]:
## continue 
for i in  range(19):
    if(i%2!=0):
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

Nested Loops

In [ ]:
## Nested loops means loop inside the loops 
for i in range(2):
    for j in range(5):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:0 and j:4
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:1 and j:4

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:0 and j:4
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:1 and j:4

In [7]:
## Examples 
## calculate the sum of first N natural numbers using for or while loop 
n=10
sum=0
for i in range(11):
    sum=sum+i
    
print(sum)

55

In [11]:
## doing same question usin while loop 
n=int(input())
sum=0
while n>=0:
    sum=sum+n
    n=n-1
print(sum)

55